$color-text-dark: #000;
$color-text: #001f3f;
$color-text-light: #595959;

$color-primary-light: #9c4dcc;
$color-primary: #6a1b9a;
$color-primary-dark: #38006b;
$color-primary-text: #fff;

$color-secondary-light: #6effff;
$color-secondary: #00e5ff;
$color-secondary-dark: #00b2cc;
$color-secondary-text: #001f3f;

$space-xl: 64px;
$space-l: 32px;
$space-m: 16px;
$space-s: 8px;
$space-xs: 4px;
$space-xxs: 2px;

$font-size-xxxl: 28px;
$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 16px;
$font-size-m: 14px;
$font-size-s: 12px;
$font-size-xs: 10px;
